:root {
    --black: #040303;
    --grey: #5B5B5B;
    --slate: #7D7C7A;
    --khaki: #C9C19F;
    --beige: #EBE8E2;
    --starry-night: #1F1F1F;
    --light-violet: #a2a4f5;
    --white: #FFFFFF;
    --fuchsia: #ed83eb;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

section {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

#home-container .inner-width {
    max-width: 1200px;
    max-height: 100vh;
    margin: auto;
    padding: 0 40px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-violet);
}

#home-container .content .title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    margin-top: 20vh;
    margin-left: 3.5vw;
    text-align: center;
    position: relative;
    bottom: 50%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* transform: translate(-50%, -50%) */
}

.home-btn {
    display: inline-block;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    border-radius: 5px;
    background-color: var(--starry-night);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.home-btn:hover {
    background-color: var(--light-violet);
    color: var(--starry-night);
}

.home-pic {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: relative;
    float: inline-end;
    top: 20%;
    left: 40%;
    margin-bottom: 10vh;
    /* transform: translate(-50%, -50%); */
}

.home-pic:hover {
    animation: shake 5s infinite linear alternate;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    margin: .25rem;
    left: 1rem;
    background-image: url(/assets/imgs/misc/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
}

.links-nav {
    height: 100%;
}

.links-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-nav li {
    list-style: none;
}

.links-nav li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #000;
    font-weight: bold;
    transition: 0.5s linear;
}

.activar-boton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.activar-boton .barra {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

.navbar.sticky .barra {
    background-color: #fff;
}

.navbar.sticky {
    background: #000;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 999;
    width: 100%;
    transition: 0.6s linear ease-in-out;
}

.navbar.sticky ul li a {
    color: #fff;
}

.navbar.sticky .logo {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(/assets/imgs/misc/logo-inverted.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s linear ease-in-out;
}

.navbar.sticky .barras {
    background-color: #fff;
}

.navbar.sticky a:hover,
.navbar a:hover {
    /* transform: scale(1.15); */
    color: var(--light-violet);
}

/* #home-container .blob {
    max-height: 50vh;
} */

#galeria-container .inner-width {
    display: grid;
    height: 100vh;
    background: linear-gradient(to bottom, var(--white) 0%, var(--light-violet) 100%);
}

#galeria-container #refresh-button {
    font-size: 2rem;
    color: var(--starry-night);
    background-color: var(--light-violet);
    font-weight: 700;
    transition: 0.5s linear;
    margin-left: 5vw;
    position: relative;
    transition: 1s ease;
    border-radius: 10%;
    letter-spacing: 0.2rem;
    user-select: none;
}

#galeria-container #refresh-button button:hover {
    scale: (1.25);
}

#galeria-container h1 {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left: calc(40%);
    margin: 0 0 0 1rem;
    padding-top: 2.5rem;
}

#galeria-container .fotos-galeria {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    overflow: hidden;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    /* overflow-x: hidden; */
    /* grid-gap: 10px; */
    /* background: var(--white); */
    padding: 1rem;
}

.fotos-galeria img {
    padding: 1rem;
    position: relative;
    display: block;
    max-height: 80%;
}

#galeria-container .fotos-galeria img:hover {
    scale: calc(1.05);
    transition: scale 1s linear ease-in-out;
}

@media only screen and (max-width: 980px) {

    .navbar,
    .navbar.sticky {
        flex-direction: column;
        align-items: flex-start;
    }

    .activar-boton {
        display: flex;
        z-index: 999;
    }

    .links-nav {
        display: none;
        width: 100%;
    }

    .links-nav ul {
        width: 100%;
        flex-direction: column;
    }

    .links-nav ul li {
        text-align: center;
    }

    .links-nav ul li a {
        padding: .5rem 1rem;
    }

    .links-nav.active {
        display: flex;
    }

    .home-pic {
        float: left;
        width: 60vw;
        height: 60vw;
        border-radius: 50%;
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #galeria-container .fotos-galeria {
        padding: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: repeat(3, 1fr);
    }

    #galeria-container h1 {
        left: 25%;
    }

    .fotos-galeria img {
        padding: 0.5rem;
        max-width: 80%;
    }
}

/*
    
    .fotos-galeria img {
        padding: 1rem;
        position: relative;
        max-height: 80%;
        max-width: 80%;
    }
    /*