:root {
    --black: #040303;
    --grey: #5B5B5B;
    --slate: #7D7C7A;
    --khaki: #C9C19F;
    --beige: #EBE8E2;
    --starry-night: #1F1F1F;
    --light-violet: #a2a4f5;
    --light-violet-select: #a2a3f567;
    --white: #FFFFFF;
    --fuchsia: #ed83eb;
    --peligro: #FF7782;
    --exito: #41F1B6;
    --alerta: #FFBB55;

    --borde-carta: 2rem;
    --padding-carta: 1.8rem;
    --sombra: 0 2rem 3rem var(--starry-night);
}

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

section {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* home page */

#home-container .inner-width {
    max-width: 1200px;
    max-height: 100vh;
    margin: auto;
    padding: 0 40px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-violet);
}

#home-container .content .title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    border-radius: 5px;
    background-color: var(--starry-night);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.home-btn:hover {
    background-color: var(--light-violet);
    color: var(--starry-night);
}

.home-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    /* margin-bottom: 10vh; */
    /* transform: translate(-50%, -50%); */
}

.home-pic div {
    width: 100px;
    height: 100px;
}

.home-pic:hover {
    animation: shake 5s infinite linear alternate;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* navbar */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    margin: .25rem;
    left: 1rem;
    background-image: url(/assets/imgs/misc/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 999;
}

.links-nav {
    height: 100%;
}

.links-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-nav li {
    list-style: none;
}

.links-nav li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #000;
    font-weight: bold;
    transition: 0.5s linear;
}

.activar-boton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.activar-boton .barra {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

.navbar.sticky .barra {
    background-color: #fff;
}

.navbar.sticky {
    background: #000;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 999;
    width: 100%;
    transition: 0.6s linear ease-in-out;
}

.navbar.sticky ul li a {
    color: #fff;
}

.navbar.sticky .logo {
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(/assets/imgs/misc/logo-inverted.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s linear ease-in-out;
}

.navbar.sticky .barras {
    background-color: #fff;
}

.navbar.sticky a:hover,
.navbar a:hover {
    /* transform: scale(1.15); */
    color: var(--light-violet);
}


.scrollToTopBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-violet);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 999;
}

.scrollToTopBtn:hover {
    background-color: var(--fuchsia);
}


/* #home-container .blob {
    max-height: 50vh;
} */

/* seccion destacadas */

#galeria-container .inner-width {
    display: grid;
    height: 100vh;
    background: linear-gradient(to bottom, var(--white) 0%, var(--light-violet) 100%);
}

#galeria-container #refresh-button {
    font-size: 2rem;
    color: var(--starry-night);
    background-color: var(--light-violet);
    font-weight: 700;
    transition: 0.5s linear;
    margin-left: 5vw;
    position: relative;
    transition: 0.25s ease-in-out;
    border-radius: 10%;
    letter-spacing: 0.2rem;
    user-select: none;
}

#galeria-container #refresh-button:hover {
    cursor: pointer;
    background-color: var(--fuchsia);
}

#galeria-container h1 {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    left: calc(40%);
    margin: 0 0 0 1rem;
    padding-top: 2.5rem;
}

#galeria-container .fotos-galeria {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    overflow: hidden;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
    padding: 1rem;
}

.fotos-galeria img {
    padding: 1rem;
    position: relative;
    display: block;
    max-height: 80%;
    border-radius: 10%;
    user-select: none;

}

#about {
    background: linear-gradient(to top, var(--white) 0%, var(--light-violet) 100%);
    height: 100vh;
    display: flex;
}

#about .titulo-about {
    font-size: 5rem;
}

#galeria-container .fotos-galeria img:hover {
    scale: calc(1.05);
    transition: scale 1s linear ease-in-out;
}

/* Componente login */


#login-container:before {
    content: '';
    position: absolute;
    width: 125rem;
    height: 125rem;
    border-radius: 50%;
    background: linear-gradient(-45deg, var(--light-violet), var(--fuchsia));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

#login-container .container-formulario {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#login-container .login-registro {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

#login-container .login-registro form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
}

#login-container .login-registro .login-formulario {
    z-index: 2;
}

#login-container .login-registro .registro-formulario {
    z-index: 1;
    opacity: 0;
}

#login-container .titulo-login {
    font-size: 2.5rem;
    color: var(--starry-night);
    margin-bottom: .5rem;
}

#login-container .campo-ingreso {
    max-width: 25rem;
    width: 100%;
    height: 3.5rem;
    background-color: var(--beige);
    margin: .75rem 0;
    border-radius: 3.5rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

#login-container .campo-ingreso i {
    text-align: center;
    line-height: 3.5rem;
    color: var(--starry-night);
    font-size: 1.1rem;
}

#login-container .campo-ingreso input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--starry-night);
}

#login-container .campo-ingreso input::placeholder {
    color: var(--slate);
    font-weight: 500;
}

#login-container .btn {
    width: 9rem;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    background-color: var(--starry-night);
    color: var(--white);
    font-weight: 600;
    margin: .75rem 0;
    transition: .5s;
}

#login-container .btn:hover {
    background-color: var(--light-violet);
}

#login-container .container-paneles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: var(--grey); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#login-container .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

#login-container .panel-izq {
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}

#login-container .panel-der {
    padding: 3rem 12% 2rem 17%;
    pointer-events: none;
}

#login-container .panel .contenido {
    color: var(--white);
    transition: .9s .6s ease-in-out;
}

#login-container .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

#login-container .panel p {
    font-size: 1rem;
    padding: 0.7rem 0;
}

#login-container .btn.transparente {
    margin: 0;
    /* background: none; */
    color: var(--white);
    border: 2px solid var(--white);
    width: 8rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 0.8rem;
}

#login-container .panel-der .imagen-login,
#login-container .panel-der .contenido {
    transform: translateX(800px);
}

#login-container .imagen-login {
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

#login-container.modo-registro:before {
    transform: translate(100%, -50%);
    right: 52%;
}

#login-container.modo-registro .panel-izq .imagen-login,
#login-container.modo-registro .panel-izq .contenido {
    transform: translateX(-800px);
}

#login-container.modo-registro .panel-der .contenido,
#login-container.modo-registro .panel-der .imagen-login {
    transform: translateX(0px);
}

#login-container.modo-registro .panel-izq {
    pointer-events: none;
}

#login-container.modo-registro .panel-der {
    pointer-events: all;
}

#login-container.modo-registro .login-registro {
    left: 25%;
}

#login-container.modo-registro .login-registro .login-formulario {
    z-index: 1;
    opacity: 0;
}

#login-container.modo-registro .login-registro .registro-formulario {
    z-index: 2;
    opacity: 1;
}

/* main user screen */

.container-usermain {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

.container-usermain a,
.container-usermain i {
    color: var(--starry-night);
    text-decoration: none;
}

.container-usermain img {
    display: block;
    width: 100%;
    border-radius: 10%;
}

.container-usermain h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

.container-usermain h2 {
    font-size: 1.4rem;
}

.container-usermain h3 {
    font-size: 0.85rem;
}

.container-usermain h4 {
    font-size: 0.8rem;
}

.container-usermain h5 {
    font-size: 0.75rem;
}

.container-usermain small {
    font-size: 0.75rem;
}

.container-usermain .foto-perfil {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.container-usermain aside {
    height: 100vh;
}

.container-usermain aside .arriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    position: absolute;
}

.container-usermain aside .logo-usermain {
    display: flex;
    gap: 1rem;
}

.container-usermain aside .logo-usermain img {
    width: 2rem;
    height: 2rem;
}

.container-usermain aside .btn-cerrar {
    display: none;
}

.container-usermain aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    top: 5rem;
    position: absolute;
}

.container-usermain aside .sidebar h3 {
    font-weight: 500;
}

.container-usermain aside .sidebar a {
    display: flex;
    color: var(--slate);
    margin: 0.5rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.75rem;
    transition: all 0.3s ease;
    letter-spacing: 0.1rem;
}


.container-usermain aside .sidebar span {
    font-size: 1.6rem;
}

.container-usermain aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.container-usermain aside .sidebar a.activo {
    background: var(--light-violet-select);
    color: var(--fuchsia);
    margin-left: 0;
}


.container-usermain aside .sidebar a.activo:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--fuchsia);
}

.container-usermain aside .sidebar a.activo i {
    /* color: var(--fuchsia); */
    margin-left: calc(1rem - 3px);
}

.container-usermain aside .sidebar a:hover {
    background-color: var(--light-violet-select);
}

.container-usermain aside .sidebar a:hover {
    margin-left: 1rem;
}

.container-usermain aside .sidebar .cant-mensajes {
    background: var(--peligro);
    color: var(--white);
    padding: 2px 10px;
    font-size: .75rem;
    border-radius: 0.25rem;
}


.container-usermain main {
    margin-top: 1.5rem;
    width: 60vw;
}

.container-usermain main .informacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    /* background: lightgray; */
    padding: 2rem;
}

.container-usermain main .informacion i {
    color: var(--light-violet);
}

.container-usermain main .informacion>div {
    /* background: var(--white); */
    padding: 1.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
    transition: all 0.3s ease;

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* width: 10vw; */
}

.container-usermain main .informacion>div:hover {
    box-shadow: none;
}

.container-usermain main .informacion h3:nth-child(3n) {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--slate);
}

.container-usermain main .informacion>div button {
    margin-left: 4.5rem;
    background: var(--light-violet);
    border-radius: 15%;
    padding: 0 0.5rem;
}

.container-usermain main .perfiles-verificados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* background: lightgray; */
    padding: 1rem;
}

.container-usermain main .perfiles-verificados > div {
    /* background: var(--white); */
    padding: 1.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
    transition: all 0.3s ease;

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 12vw;
}

.container-usermain main .perfiles-verificados>div:hover {
    scale: 1.02;
}

.container-usermain main .perfiles-verificados>div h1 {
    font-size: 1.5vw;
}

.container-usermain main .perfiles-verificados h3:nth-child(3n) {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--slate);
}

.container-usermain main .perfiles-verificados>div button {
    margin-left: 4vw;
    background: var(--light-violet);
    border-radius: 15%;
    padding: 0 0.5rem;
    transition: all 0.3s ease;
}

.container-usermain main .perfiles-verificados>div button:hover {
    background-color: var(--fuchsia);
    cursor: pointer;
}


/* perfil inventario privado/publico */

.container-usermain main .inventario-usario {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* background: lightgray; */
    padding: 1rem;
}

.container-usermain main .inventario-usario > div {
    /* background: var(--white); */
    padding: 1.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
    transition: all 0.3s ease;

    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 12vw;
}

.container-usermain main .inventario-usario >div:hover {
    scale: 1.02;
}

.container-usermain main .inventario-usario >div h1 {
    font-size: 1.5vw;
}

.container-usermain main .inventario-usario h3:nth-child(3n) {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--slate);
}

.container-usermain main .inventario-usario >div button {
    margin-left: 4vw;
    background: var(--light-violet);
    border-radius: 15%;
    padding: 0 0.5rem;
    transition: all 0.3s ease;
}

.container-usermain main .inventario-usario >div button:hover {
    background-color: var(--fuchsia);
    cursor: pointer;
}




/* main user screen tabla */

.container-usermain main .top-colecciones {
    margin-top: 1rem;
    padding: 2rem;
}

.container-usermain main .top-colecciones h2 {
    margin-bottom: 0.8rem;
}

.container-usermain main .top-colecciones table {
    width: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.container-usermain main .top-colecciones table tbody td {
    height: 3rem;
    border-bottom: 1px solid var(--light-violet-select);
    font-weight: 600;
    transition: all 0.4s ease;
}

.container-usermain main .top-colecciones table tbody td img {
    width: 100px;
    padding: 1rem;
    border-radius: 15%;
}

.container-usermain main .top-colecciones table tbody td .abajo {
    color: var(--peligro);
}

.container-usermain main .top-colecciones table tbody td .arriba {
    color: var(--exito);
}

.container-usermain main .top-colecciones table tbody tr:last-child td {
    border: none;
}

.container-usermain main .top-colecciones table tbody tr:hover td {
    scale: 1.15;
}



/* main user screen lado derecha */

.container-usermain .derecha {
    margin-top: 1.5rem;
    width: 15vw;
}

.container-usermain .derecha .arriba {
    display: flex;
    justify-content: end;
    /* background-color: var(--fuchsia); */
    gap: 2rem;
}

.container-usermain .derecha .arriba button {
    display: none;
}

.container-usermain .derecha .perfil {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.container-usermain .derecha .vendedores {
    margin-top: 1rem;
}

.container-usermain .derecha .vendedores h2 {
    margin-bottom: 0.8rem;
    margin-left: 0.85rem;
}

.container-usermain .derecha .vendedores .vendedores-destacados {
    padding: 1.5rem 0.2rem 1.5rem 0.2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    margin: 1rem;
    font-weight: 500;
}

.container-usermain .derecha .vendedores .vendedores-destacados .vendedor-dest {
    display: grid;
    grid-template-columns: 2.5rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.actividad-reciente {
    border-radius: 10px;
    border-color: #5B5B5B;
}


@media only screen and (max-width: 980px) {

    .navbar,
    .navbar.sticky {
        flex-direction: column;
        align-items: flex-start;
    }

    .activar-boton {
        display: flex;
        z-index: 999;
    }

    .links-nav {
        display: none;
        width: 100%;
    }

    .links-nav ul {
        width: 100%;
        flex-direction: column;
    }

    .links-nav ul li {
        text-align: center;
    }

    .links-nav ul li a {
        padding: .5rem 1rem;
    }

    .links-nav.active {
        display: flex;
    }

    .home-pic {
        float: left;
        width: 60vw;
        height: 60vw;
        border-radius: 50%;
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #galeria-container .fotos-galeria {
        padding: .5rem;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: repeat(3, 1fr);
    }

    #galeria-container h1 {
        left: 25%;
    }

    .fotos-galeria img {
        padding: 0.5rem;
        max-width: 80%;
    }

    #galeria-container {
        min-height: 800px;
        height: 100vh;
    }

    #galeria-container:before,
    .container-paneles {
        width: 94rem;
        height: 94rem;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
    }

    .login-registro {
        width: 100%;
        height: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
    }

    .container-paneles {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel-der .contenido,
    .panel-der .imagen-login {
        transform: translateX(0px);
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .imagen-login {
        width: 12.5rem;
    }

    .panel-izq {
        grid-row: 1 / 2;
    }

    .panel-der {
        grid-row: 3 / 4;
    }

}